body{
    overflow-y: scroll;
}
.table-output p {
    padding-bottom: 0;
    padding-top: 0;
}
.user-info {
    padding: 20px;
}
.valign-wrapper {
    height: 90vh;
}
.width100 {
    width: 100%;
}
.margin30px {
    margin: 30px;
}

